body { 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 10px;
}

.header {
    background-color: #1f2937;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18 px;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18 px;
    color: #e5e7eb;
}


